.news_card{
    width: 32%;
    padding: 20px;
}
@media (max-width: 700px) {
    .news_card{
        width: 49%;
    }
    .news_card:last-child{
        display: none;
    }
  }
  @media (max-width: 480px) {
    .card_row{
      flex-direction: column !important;
    }
    .news_card{
        width: 100% !important;
    }
    .news_card:nth-child(2){
        display: none;
    }
    .news_card:last-child{
        display: none;
    }

  }

@media screen and (max-width: 767px) {
    .card{
        width: 100%;
    }
}
.card-body{
    text-align: center;
}
.card-img-top{
    border-radius: 10px;
}
.carousel{
    clear: both;
}
.clear{
    clear:both;
}
hr{
    height: 0;
    border-top: 1px solid #dddddd;
    margin-bottom: 50px;
}