.card{
    width: 33%;
    float: left;
    padding: 30px;
}
@media screen and (max-width: 767px) {
    .card{
        width: 100%;
    }
}
.card-body{
    text-align: center;
}
.card-img-top{
    border-radius: 10px;
}
.carousel{
    clear: both;
}
.clear{
    clear:both;
}
hr{
    height: 0;
    border-top: 1px solid #dddddd;
    margin-bottom: 50px;
}